# IDE and editor settings
.idea/
.vscode/
.zed/

# macOS
.DS_Store

# Pixi environments
.pixi/*
!.pixi/config.toml

# Rust
/target

# Python
__pycache__/

# ONNX kernel error reports
*.txt

# Test data
*.wav
*.srt

# Project cache
.cache/
