[workspace]
authors = ["Stanley5249 <seer852741@gmail.com>"]
channels = ["https://prefix.dev/conda-forge"]
name = "melops"
platforms = ["win-64", "linux-64"]
version = "0.1.0"

[activation.env]
RUST_LOG = "info,melops=debug,ort=warn"

[tasks]
mel = "cargo run -p melops"

test = "cargo test --workspace"
test-ignored = "cargo test --workspace -- --ignored --no-capture"

[dependencies]
rust = ">=1.92.0,<1.93"
rust-src = ">=1.92.0,<1.93"
python = ">=3.13,<3.14"
yt-dlp = ">=2025.12.8,<2026"
ffmpeg = ">=5.1.0,<9.0"
# CPU build only on conda; other EP builds might be on PyPI
# onnxruntime-cpp = ">=1.22.2,<2"

[feature.openvino.tasks]
mel = "cargo run -p melops -F openvino"

[feature.openvino.dependencies]
libopenvino = ">=2025.4.0,<2025.5.0"
libopenvino-onnx-frontend  = ">=2025.4.0,<2025.5.0"
libopenvino-auto-batch-plugin = ">=2025.4.0,<2025.5.0"
libopenvino-auto-plugin = ">=2025.4.0,<2025.5.0"
libopenvino-hetero-plugin = ">=2025.4.0,<2025.5.0"
libopenvino-intel-cpu-plugin = ">=2025.4.0,<2025.5.0"
libopenvino-intel-gpu-plugin = ">=2025.4.0,<2025.5.0"
# Windows does not support NPU plugin
# libopenvino-intel-npu-plugin

[feature.openvino.pypi-dependencies]
onnxruntime-openvino = ">=1.22.0,<1.23.0"

[environments]
openvino = ["openvino"]
