[workspace]
authors = ["Stanley5249 <seer852741@gmail.com>"]
channels = ["https://prefix.dev/conda-forge"]
name = "melops"
platforms = ["win-64", "linux-64"]
version = "0.1.0"

[activation.env]
RUST_LOG = "ort=debug"

[tasks]
melops = "cargo run -p melops-cli"

test = "cargo test --workspace"
test-ignored = "cargo test --workspace -- --ignored --no-capture"

[dependencies]
rust = ">=1.92.0,<1.93"
rust-src = ">=1.92.0,<1.93"
python = ">=3.13,<3.14"
yt-dlp = ">=2025.12.8,<2026"
ffmpeg = ">=8.0.1,<9.0"

# OpenVINO Feature
[feature.openvino.target.win-64.activation.env]
PATH = "%CONDA_PREFIX%\\Lib\\site-packages\\openvino\\libs;%PATH%"

[feature.openvino.target.linux-64.activation.env]
LD_LIBRARY_PATH = "$CONDA_PREFIX/lib/site-packages/openvino/libs:$LD_LIBRARY_PATH"

[feature.openvino.tasks]
melops = "cargo run -p melops-cli -F openvino"

[feature.openvino.pypi-dependencies]
onnxruntime = ">=1.22.0,<1.23"
openvino = ">=2025.1.0,<2025.2"
onnxruntime-openvino = ">=1.22.0,<1.23"

[environments]
openvino = ["openvino"]
