[package]
name = "melops-dl"
version.workspace = true
edition.workspace = true
repository.workspace = true
license.workspace = true

[features]
default = []

[dependencies]
pyo3 = { version = "0.27.2", features = ["auto-initialize"] }
dirs = "6.0.0"
